<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=t.Home%></title>
        <link rel="stylesheet" href="css/Home.css">
        <script src='scripts/Home.js' defer></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    </head>

    <body>
        <div class="top-header" id="th">
            <div class="top-header-left"></div>
            <div class="top-header-right" id="nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <p onclick="smoothScroll(information)"><%=t.ABOUT %></p>
                <p onclick="smoothScroll(sweets)"><%=t.SWEETS %></p>
                <p onclick="smoothScroll(coffee)"><%=t.COFFEE %></p>
                <p onclick="smoothScroll(map)"><%=t.MAP %></p>
                <p onclick="smoothScroll(cf)"><%=t.KONTAKT %></p>
                <div class="flags">
                    <p onclick="window.location='?clang=de'"><img src="img/de.png" width="30"/></p>
                    <p onclick="window.location='?clang=se'"><img src="img/se.png" width="30"></p>
                    <p onclick="window.location='?clang=en'"><img src="img/en.png" width="30"></p>
                </div>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="open">&#9776;</span>
        </div>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1E7C0D6B5Y"></script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
          var cc = window.cookieconsent.initialise({
              "palette": {
                  "popup": {
                      "background": "#000"
                  },
                  "button": {
                      "background": "#f1d600"
                  }
              },
              "type": "opt-out",
              "onStatusChange": (status, chosenBefore) => {
                  if ( status != 'accept' ) { return; }
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', 'G-1E7C0D6B5Y');
              }
          });
        </script>
    <div class="TheMVContainer">
        <img src="img/TheMultiVerse-black-resized.jpg" alt="TheMV" id="TheMV">
    </div>

    <div class="information" id="information">
        <div class="pagefont flowdown">
          <p><h1><%=t.ABOUT%></h1><%=t.WELCOME%><p>
            <div class="flowleft">
              <div class="sixty"><%- include("about-" + lang + ".ejs") %></div>
              <div>
                <%=t.OPENING_TIMES%>
                <br>
                <%=t.Monday%> – <%=t.Friday%> <%=t.from%> 12 <%=t.to%> 19 <%=t.oclock%>
                <br>
                <%=t.Saturday%> <%=t.from%> 13 <%=t.to%> 18 <%=t.oclock%>
                <br>
                The Multiverse
                <br>
                Ebertystr. 24
                <br>
                10249 Berlin</p>
          </div>
          </div>
        </div>
    </div>

    <div id="sweets" class="pagefont flowdown">
      <h1><%= t.SWEETS %></h1>
      <div id="container" class="flowleft">
        <div id="left">
          <%- include('sweets-' + lang + '.ejs') %>
        </div><div id="right">
          <img src="img/sweets.jpeg" width="600" alt="Sweets">
        </div>
      </div>
    </div>

    <div id="coffee" class="pagefont flowdown fullwidth">
      <h1><%= t.COFFEE %></h1>
      <div class="flowleft fullwidth">
        <div class="sixty"><img src="img/coffeemaschine.jpeg" alt="Coffee" id="Coffeeimg" class="fullwidth"></div>
        <div class="forty"><%- include('coffee-' + lang) %></div>
      </div>
    </div>

        <div class="flowdown pagefont" id="map">
          <h1><%=t.find_us%></h1>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe height="546" id="gmap_canvas" src="https://maps.google.com/maps?q=The%20Multiverse,%20Ebertystra%C3%9Fe%2024,%20Berlin&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <br>
              <style>.mapouter{position:relative;text-align:left;height:546px;}</style><a href="https://www.embedgooglemap.net">embed google maps in gmail</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:546px;}</style>
            </div>
          </div>
        </div>

    <div class="pagefont">
        <p>© 2021 by The Multiverse <a href="/pages/impressum.html">impressum</a></p>
    </div>


    </body>
</html>
